body{
	font-size:18px;
	font-family:Arial;
	line-height:1.6;
}
.btn{
	background:#00bfff;
	padding:1em 2em;
	color:#fff;
	border:0;
}
.btn:hover{
background-color:#135cd1;	
}
.MyModal{
display:none;	
position:fixed;
z-index:1;
height:100%;
width:100%;
overflow:auto;
top:0;
left:0;
background:rgba(0,0,0,0.3);		
}
.Modalcontent{
	background:#f4f4f4;
	margin:12% auto;
	width:50%;
}
.closebtn{
	
	color:#ccc;
	float:right;
	font-size:25px;
}
.closebtn:hover,.closebtn:focus{
	color:black;
	text-decoration:none;
	cursor:pointer;
}
.header{
	background:#00bfff;
	padding:35px;
}
.header h3,.footer h3{
	margin:0;
}
.header .closebtn{
	color:#fff;
}
.mybody{
	padding:10px 20px;
}
.footer{
	background:#00bfff;
	padding:10px;
	text-align:center;
}
	
	
	
